@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-white: #ffffff;
  --color-orange: #ffa806;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0 1.3rem;
}

button {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}