@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #17181f;
  --color-orange: #e38c64;
  --color-orange-dark: #c47957;
  --color-orange-opaque: rgba(227, 140, 100, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--color-white);
}

button {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 1.1rem 1rem;
  border: none;
  border-radius: 10rem !important;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.orange {
  color: var(--color-orange);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-orange);
}

::placeholder {
  color: var(--color-black);
}

.modal {
  font-weight: bold;
}
/* ========================================= */
/*                    Navbar                 */
/* ========================================= */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-black);
  z-index: 100;
  position: fixed;
  width: 100vw;
}

nav input[type='text'] {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  font-weight: bold;
  width: 12rem;
}

nav input[type='text']:focus {
  outline: solid 0.2rem var(--color-orange);
}

#navbar-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  border: solid var(--color-white) 3.5px;
  transition: all 0.3s ease-in-out;
}

.modal button {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* ========================================= */
/*                    Main                   */
/* ========================================= */
main {
  padding: 6rem 1.25rem 0;
}

/* ========================================= */
/*                    Login                  */
/* ========================================= */
#login {
  text-align: center;
  margin-top: 4rem;
}

#login h1 {
  font-size: 1.7rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

#login button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 16rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10rem;
  margin: 1.3rem auto 0;
}

/* ========================================= */
/*                 Dashboard                 */
/* ========================================= */
#dashboard {
  font-weight: bold;
  text-align: center;
}

#dashboard-boards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  max-width: 22rem;
  margin: 0 auto;
}

.dashboard-button {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.board-preview-button {
  background-color: var(--color-orange-opaque);
  flex-direction: column;
  gap: 0.2rem;
}

.board-preview-button h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

.board-preview-button p {
  font-size: 0.8rem;
}

.create-button {
  font-size: 1rem;
  gap: 0.7rem;
  background-color: rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
}

.modal input[type='text'] {
  width: 20rem;
  border: solid var(--color-black) 0.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.modal input[type='text']:focus {
  outline: none;
  border-color: var(--color-orange);
}

/* ========================================= */
/*               Media Queries               */
/* ========================================= */
@media (min-width: 600px) {

  /* Turn on hover effects */
  button:hover {
    transform: translateY(-4px);
    background-color: var(--color-orange-dark);
    cursor: pointer;
  }

  #navbar-profile:hover {
    border-color: var(--color-orange);
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  nav input[type='text'] {
    width: 15rem;
  }

  #dashboard {
    font-size: 1.4rem;
  }

  #dashboard-boards {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 33rem;
  }  
}

@media (min-width: 1000px) {
  nav input[type='text'] {
    width: 25rem;
  }

  .modal input[type='text'] {
    width: 25rem;
  }

  #dashboard-boards {
    max-width: 40rem;
  }  

  .dashboard-button {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
  }
}
